h1{
    color: red;
}

body{
    background-color: lightgray;
}

p{
    size: 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;

}

img{
    border: 2px solid black;
    width: 200px;
}

.verde{
    color: green;
}

p{
    background-color: lightblue;
}

div{
    margin: 15px;
}

#tabla1{
    padding: 10px;
}

#titulo-grande{
    font-size: 30px;
}

li{
    color: purple;
}